* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: url(images/donation1.jpg);
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;


}

.white-color {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.link-button {

    margin-left: 570px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font: 700;
    border-radius: 5px;
}

.black-color {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.space-bottom {
    margin-bottom: 35px;
}

.middle-class {
    padding-top: 30px;

}

.money-list {
    margin-left: 3%;
    margin-right: 2%;
    padding-left: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    list-style: none;
    margin-bottom: 20px;
}

#border-taka {
    border: 2px solid red;
    color: red;
}

.input-class {
    margin-right: 5px;
    margin-left: 550px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.pay-button {

    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font: 700;
    text-decoration: none;
    border-radius: 5px;
}

.experience-item {
    width: 30%;
    margin-left: 3%;
    margin-right: 2%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.container1 {
    background-color: aqua;
}

.container2 {
    background-color: burlywood;
}

.container3 {
    background-color: cornflowerblue;
}

#end-id {
    color: orangered;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

#optional-p {
    margin-bottom: 30px;
}

.optional-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font: 700;
    border-radius: 5px;
    margin-top: 20px;
}

.footer-class {
    margin-top: 10px;
    background-color: black;
    text-align: center;
    color: white;
}